ion-content {
    --background: #efefef;

    #header {
        height: 33%;
        background-color: #e19b88;
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        color: #efefef;
        padding: 20px;

        #app-bar {
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-buttons {
                display: flex;
                align-items: center;

                ion-icon {
                    font-size: 25px;
                    margin-left: -5px;
                }
            }

            h1 {
                font-size: 25px;
                margin: 0;
                text-align: center;
                flex-grow: 1;
            }
        }
    }

    .card {
        position: absolute;
        top: 10%;
        left: 4%;
        right: 4%;

        .form-card {
            --background: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
            border-radius: 20px;
            padding: 15px 10px;
            color: #212121;




            h1 {
                text-align: center;
            }


            .scan {
                background: rgba(255, 255, 255, 1);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(11.8px);
                -webkit-backdrop-filter: blur(11.8px);
                border: 5PX solid #e19b88;
                padding: 10px;
                width: 250px;
                height: 250px;
                display: flex;
                align-items: center;
                justify-content: center;


                img {
                    max-width: 100%;
                    max-height: 100%;
                }


            }

            ion-button {
                margin-top: 20px;
                --border-radius: 100%;
                --background: #e19b88;
                --background-activated: #9c695b;

                ion-icon {
                    color: #ffffff;
                    font-size: 2rem;
                }
            }

        }
    }


}