<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-buttons slot="start" routerLink="/menu">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-buttons>
      <h1>Configuración</h1>
    </div>
  </div>

  <div class="card">
    <ion-card class="form-card">
      <ion-card-content>
        <div>
          <h2>Perfil de Usuario</h2>
          <p>Nombre de usuario: {{ usuarioActual.username }}</p>
          <p>Correo electrónico: {{ usuarioActual.email }}</p>
          <p>Región: {{ usuarioActual.region }}</p>
          <p>Comuna: {{ usuarioActual.comuna }}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>