<ion-content>
  <div id="header">
    <h1>Recuperar contraseña</h1>
  </div>

  <div class="card">
    <ion-card class="form-card">
      <ion-card-content>
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-input [(ngModel)]="email" fill="outline" placeholder="Correo electronico"></ion-input>
        </ion-item>
        <ion-button (click)="resetPassword()" id="open-loading" expand="block">Enviar
        </ion-button>
        <ion-button id="register" fill="clear" size="small" color="medium" routerLink="/login"> ¿Recuperaste tu contraseña? Haz click aqui</ion-button>
      </ion-card-content>
    </ion-card>

    <div class="image-container">
      <img id="logo" src="/assets/img/LOGO2.svg" alt="">
    </div>
  </div>

</ion-content>