<ion-content>
  <div id="header">
    <div id="app-bar">
      <div class="ion-page" id="main-content">
        <ion-buttons slot="start" class="open-menu">
          <ion-menu-button> <ion-icon name="person"></ion-icon></ion-menu-button>
        </ion-buttons>
      </div>
      <h1>Menú</h1>
    </div>
  </div>

  <div id="menu">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="menu-content">
        <ion-item>
          <h3>Bienvenido {{ username }} </h3>
        </ion-item>
        <ion-item routerLink="/menu">
          <ion-icon slot="start" name="settings-outline"></ion-icon> Configuración
        </ion-item>
        <ion-item (click)="logOut()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon> Cerrar Sesión
        </ion-item>
        <div class="image-container">
          <img id="logo" src="/assets/img/LOGO2.svg" alt="">
        </div>
      </ion-content>
    </ion-menu>
  </div>

  <div class="card">
    <ion-card class="content-card" #menuCard1>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-card (click)="visualizar()" class="menu-card">
              <ion-card-content>
                <ion-icon name="eye-outline"></ion-icon>
                <h2>Visualizar tus clases</h2>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-card routerLink="/escanear" class="menu-card">
              <ion-card-content>
                <ion-icon name="scan-outline"></ion-icon>
                <h2>Escanear</h2>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card>
    <div class="footer">
      <p>Creado por Mariano Leal - Steffi Ryser</p>
    </div>

  </div>



</ion-content>