ion-content {
    --background: #efefef;

    #header {
        height: 33%;
        background-color: #e19b88;
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        color: #fff;

        #app-bar {
            margin-top: 3rem;

            ion-buttons {
                margin-top: 1rem;
                margin-left: 1rem;
            }

            .open-menu {
                ion-icon {
                    color: #ffffff;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .fuera {
        margin-top: 80&;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 3rem;
    }

    h1 {
        font-size: 30px;
        margin-top: 5px;
        text-align: center;
    }

    p {
        font-size: 15px;
        line-height: 1.4;
    }

    .card {
        position: absolute;
        top: 16%;
        left: 4%;
        right: 4%;

        .content-card {
            --background: #ffffff;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            color: #212121;

            .menu-card {
                margin: 10px;
                --background: #efefef;
                --color: #212121;
                --font-size: 10px;
                box-shadow: none;

                ion-card-content {
                    display: flex;

                    ion-icon {
                        font-size: 1.5rem;
                        color: #212121;
                        margin-right: 0.5rem;
                    }
                }
            }


        }
    }

    #menu {
        ion-menu {
            ion-toolbar {
                --background: #e19b88;
                --color: #ffffff;
            }

            ion-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                ion-item {
                    color: #212121;
                    max-width: 100%;

                    ion-icon {
                        font-size: 1.5rem;
                        color: #212121;
                    }

                }
            }

            #logo {
                width: 4rem;
            }

            .image-container {
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 20px;
            }

        }

        ion-menu::part(backdrop) {
            background-color: rgb(80, 80, 80);
        }

        ion-menu::part(container) {
            background-color: #e19b88;
            box-shadow: 4px 0px 16px rgba(108, 108, 108, 0.5);


        }
    }



    .footer {
        margin-top: 95%;
        text-align: center;
        font-size: 5px;
        color: rgba(0, 0, 0, 0.3);
    }

    .perfil-container {
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      
      .perfil-container ion-avatar {
        width: 80px;
        height: 80px;
        margin-right: 20px;
      }
      
      .perfil-container ion-label {
        flex: 1;
      }
      
      .perfil-container h2 {
        font-size: 1.5rem;
        margin: 0;
      }
      
      .perfil-container p {
        font-size: 1rem;
        margin: 0;
      }
}