<ion-content>
  <div id="header">

    <h1>Iniciar sesión</h1>
  </div>
 <form [formGroup]="loginForm">
  <div class="card">
    <ion-card class="form-card">
      <ion-card-content>
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-input formControlName="email" fill="outline" placeholder="Correo electronico"></ion-input>
        </ion-item>
        <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
          <ion-text *ngIf="loginForm.get('email').hasError('required')">
            Debes escribir un correo electronico
          </ion-text>
          <ion-text *ngIf="loginForm.get('email').hasError('pattern')">
            El correo electronico es inválido
          </ion-text>
        </div>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" formControlName="password"
            name="password"></ion-input>
          <ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
          <ion-text *ngIf="loginForm.get('password').hasError('required')">
            Tu contraseña debe tener Al menos 8 caracteres, una mayúscula, un número y un carácter especial.
          </ion-text>
          <ion-text *ngIf="loginForm.get('password').hasError('pattern')">
            La contraseña es invalida
          </ion-text>
        </div>
        <ion-button id="open-modal" fill="clear" size="small" color="medium">¿Olvidaste tu
          contraseña? Haz
          click
          aquí</ion-button>
        <ion-button id="open-loading" (click)="login()" expand="block">INICIAR</ion-button>
        <ion-button id="register" fill="clear" size="small" color="medium" routerLink="/register"> ¿No tienes una
          cuenta? Haz click aquí</ion-button>

      </ion-card-content>
    </ion-card>
    <div class="image-container">
      <img id="logo" src="/assets/img/LOGO2.svg" alt="">
    </div>
  </div>

</form>

  <ion-modal id="modal" #modal trigger="open-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>RECUPERAR CONTRASEÑA</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">ACEPTAR</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item class="modal-item ion-margin-bottom">
          <p>
            Ingresa tu correo electronico y nombre de usuario para recuperar tu contraseña.
          </p>
        </ion-item>
        <ion-item shape="round" class="modal-item ion-margin-bottom" type="">
          <ion-icon name="person"></ion-icon>
          <ion-input class="ion-margin-start ion-no-border" [(ngModel)]="username" fill="outline"
            placeholder="Usuario"></ion-input>
        </ion-item>
        <ion-item shape="round" class="modal-item ion-margin-bottom">
          <ion-icon name="mail"></ion-icon>
          <ion-input class="ion-margin-start ion-no-border" fill=" outline" type="email"
            placeholder="Correo electrónico"></ion-input>
        </ion-item>
        <ion-button class="modal-button" id="open-loading" expand="block" color="yoga">RECUPERAR</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>



</ion-content>