:root {
    --ion-color-new: #e19b88;
    --ion-color-new-rgb: 225, 155, 136;
    --ion-color-new-contrast: #000000;
    --ion-color-new-contrast-rgb: 0, 0, 0;
    --ion-color-new-shade: #c68878;
    --ion-color-new-tint: #e4a594;
}

.ion-color-new {
    --ion-color-base: var(--ion-color-new);
    --ion-color-base-rgb: var(--ion-color-new-rgb);
    --ion-color-contrast: var(--ion-color-new-contrast);
    --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
    --ion-color-shade: var(--ion-color-new-shade);
    --ion-color-tint: var(--ion-color-new-tint);
}

ion-content {
    --background: #efefef;

    #header {
        height: 33%;
        background-color: #e19b88;
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        color: #fff;


    }

    h1 {
        font-size: 30px;
        margin-top: 120px;
        text-align: center;

    }

    p {
        font-size: 15px;
        line-height: 1.4;
    }

    .card {
        position: absolute;
        top: 26%;
        left: 4%;
        right: 4%;

        .form-card {
            --background: #ffffff;
            box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
            border-radius: 20px;
            padding: 15px 10px;
            color: #212121;

            ion-item {
                --background: #efefef;
                --padding-start: 10px;
                --highlight-height: 0;
                --border-width: 0;
                --padding-top: 0;
                --min-height: 40px;
                margin-bottom: 15px;
                border-radius: 5px;
            }

            ion-icon {
                color: #212121;
                font-size: 18px;
            }

            #open-loading {
                --background: #e19b88;
                --background-activated: #9c695b;
            }

            ion-input {
                margin-left: 10px;
                font-size: 14px;
                color: #454545;
                border-color: transparent;
                box-shadow: none;
            }

            #open-modal {
                font-size: 12px;
                margin-top: -15px;
                margin-bottom: 20px;
            }

            #register {
                font-size: 12px;

            }



        }
    }

    #logo {

        width: 6rem;

    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;

    }






}