<ion-content>
  <div id="header">
    <h1>Registrarse</h1>
  </div>
<form [formGroup]="regForm">
  <div class="card">
    <ion-card class="form-card">
      <ion-card-content>
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-input formControlName ="email" fill="outline" placeholder="Correo electronico"></ion-input>
        </ion-item>
        <div *ngIf="regForm.get('email').touched && regForm.get('email').invalid">
          <ion-text *ngIf="regForm.get('email').hasError('required')">
            Debes escribir un correo electronico
          </ion-text>
          <ion-text *ngIf="regForm.get('email').hasError('pattern')">
            El correo electronico es inválido
          </ion-text>
        </div>
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-input formControlName="user"fill="outline" placeholder="Usuario"></ion-input>
        </ion-item>
        <div *ngIf="regForm.get('user').touched && regForm.get('user').invalid">
          <ion-text *ngIf="regForm.get('user').hasError('required')">
            Debes escribir un usuario
          </ion-text>
        </div>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña"></ion-input>
          <ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <div *ngIf="regForm.get('password').touched && regForm.get('password').invalid">
          <ion-text *ngIf="regForm.get('password').hasError('required')">
            Tu contraseña debe tener Al menos 8 caracteres, una mayúscula, un número y un carácter especial.
          </ion-text>
          <ion-text *ngIf="regForm.get('password').hasError('pattern')">
            La contraseña es invalida
          </ion-text>
        </div>
        
       <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input formControlName="repeatPassword" [type]="showPassword2 ? 'text' : 'password'" placeholder="Repetir Contraseña" ></ion-input>
          <ion-icon slot="end" [name]="showPassword2 ? 'eye-off' : 'eye'" (click)="togglePassword2()"></ion-icon>
        </ion-item>
        <div *ngIf="regForm.get('repeatPassword').touched && regForm.get('repeatPassword').invalid">
          <ion-text *ngIf="regForm.get('repeatPassword').hasError('required')">
            Debes repetir la contraseña.
          </ion-text>
          <ion-text *ngIf="regForm.hasError('passwordMismatch')">
            Las contraseñas no coinciden.
          </ion-text>
        </div>
        <ion-button id="open-loading" (click)="signUp()" expand="block">INICIAR</ion-button>
        <ion-button id="register" fill="clear" size="small" color="medium" routerLink="/login"> ¿Ya tienes una
          cuenta? Haz click aquí</ion-button>
      </ion-card-content>
    </ion-card>

    <div class="image-container">
      <img id="logo" src="/assets/img/LOGO2.svg" alt="">
    </div>
  </div>
</form>
</ion-content>