<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/menu"></ion-icon>
      <h1>Registro</h1>
    </div>

  </div>

  <div class="card">
    <ion-card class="form-card">
      <ion-card-content>
        <ion-card routerLink="/info-clase">
          <ion-card-header>
            <ion-card-title><h1><strong>Clase Yoga funcional</strong></h1></ion-card-title>
            
          </ion-card-header>
        
          <ion-card-content class="labels">
            <ion-item>
              <ion-icon name="calendar-outline" size="small"></ion-icon>
              <ion-label class="labels">Fecha: Lunes 04 de Agosto </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="time-outline" size="small"></ion-icon>
              <ion-label class="labels">Hora: 8:30 a 9:50</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title><h1><strong>Clase Yoga</strong></h1></ion-card-title>
            
          </ion-card-header>
        
          <ion-card-content class="labels">
            <ion-item>
              <ion-icon name="calendar-outline" size="small"></ion-icon>
              <ion-label class="labels" size="small">Fecha: Lunes 04 de Agosto </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="time-outline" size="small"></ion-icon>
              <ion-label class="labels">Hora: 8:30 a 9:50</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title><h1><strong>Clase Yin Yoga</strong></h1></ion-card-title>
    
          </ion-card-header>
        
          <ion-card-content class="labels">
            <ion-item>
              <ion-icon name="calendar-outline" size="small"></ion-icon>
              <ion-label class="labels">Fecha: Lunes 04 de Agosto </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="time-outline" size="small"></ion-icon>
              <ion-label class="labels">Hora: 8:30 a 9:50</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </div>
  

</ion-content>