<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/menu-uno"></ion-icon>
      <h1>Clase de</h1>
    </div>

  </div>

  <div class="card">
    <ion-card class="form-card">
      <ion-card-content>
      <div class="imgCont"><img class="profesorImg" src="assets/img/feliz-meditación-de-profesores-yoga-un-profesor-meditando-242460891.webp" alt=""></div>
      <h2>Profesor: Ricardo Esteban Soto</h2>
      <h2>Fecha: Lunes 4 de septiembre</h2>
      <h2>Hora de inicio: 8:30</h2>
      <h2>Sala: Sala 203 piso 2</h2>
      <h2>Sucursal: Walker Martinez 4305</h2>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>