<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/menu"></ion-icon>
      <h1>Registro</h1>
    </div>

  </div>

  <div class="card">
    <ion-card class="form-card">
      <ion-card-content>
        <ion-card routerLink="/menu-tres">
          <ion-card-header>
            <ion-card-title><h1><strong>Clase de Yoga</strong></h1></ion-card-title>
            
          </ion-card-header>
        
          <ion-card-content>
            <strong>Lunes 4 de septiembre 8:30 a 9:50</strong>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title><h1><strong>Clase de Yoga funcional</strong></h1></ion-card-title>
            
          </ion-card-header>
        
          <ion-card-content>
            <strong>Lunes 4 de septiembre 8:30 a 9:50</strong>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title><h1><strong>Clase de Yin Yoga</strong></h1></ion-card-title>
    
          </ion-card-header>
        
          <ion-card-content>
            <strong>Lunes 4 de septiembre 8:30 a 9:50</strong>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </div>
  

</ion-content>