<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-buttons slot="start" routerLink="/menu">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-buttons>
      <h1>Clase</h1>
    </div>
  </div>

  <div class="card">
    <ion-card class="form-card">
      <ion-card-content>
        <div class="imgCont"><img class="profesorImg"
            src="assets/img/feliz-meditación-de-profesores-yoga-un-profesor-meditando-242460891.webp" alt=""></div>
        <ion-item-group>
          <ion-item>
            <ion-icon name="book-outline"></ion-icon>
            <ion-label>Clase: {{ clase}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="grid-outline"></ion-icon>
            <ion-label>Sección: YGF-03D </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Profesor: Ricardo Soto </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label>Fecha: Lunes 04 de Agosto </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="time-outline"></ion-icon>
            <ion-label>Hora: 8:30 a 9:50</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>